body{
    width: 70%;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.question {
    margin-bottom: 20px;
}

.answers label {
    display: block;
}
